<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="60 seconds" debug="false">
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter"/>
    <conversionRule conversionWord="wex"
                    converterClass="org.springframework.boot.logging.logback.WhitespaceThrowableProxyConverter"/>
    <conversionRule conversionWord="wEx"
                    converterClass="org.springframework.boot.logging.logback.ExtendedWhitespaceThrowableProxyConverter"/>
    <springProperty scope="context" name="spring.application.name" source="spring.application.name"/>
    <!--  mac电脑不能在根目录建目录，所以修改为相对路径，不影响服务器日志采集  -->
    <property name="LOG_PATH" value="./logs"/>
    <springProperty scope="context" name="spring.application.name" source="spring.application.name"/>
<!--    <springProperty scope="context" name="ding.robot.error-log.token" source="ding.robot.error-log.token"/>-->
<!--    <springProperty scope="context" name="ding.robot.warn-log.token" source="ding.robot.warn-log.token"/>-->
<!--    <springProperty scope="context" name="ding.robot.error-log.secret" source="ding.robot.error-log.secret"/>-->
    <property name="ALARM_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%20.20(%thread)][%-40.40(%logger{40})]:[%tid] [DD:%X{dd.trace_id}] %msg%n"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{${LOG_DATEFORMAT_PATTERN:-yyyy-MM-dd HH:mm:ss.SSS}}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} [%tid] [DD:%X{dd.trace_id}] %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
    <property name="FILE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss SSS}][%thread][%level][%logger{15}:%line][%tid][DD:%X{dd.trace_id}] %m%n"/>
    <property name="CONSOLE_LOG_PATTERN_NO_CLR"
              value="[%d{yyyy-MM-dd HH:mm:ss SSS}][%thread][%level][%logger{15}:%line][%tid][DD:%X{dd.trace_id}] %m%n"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
<!--        <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">-->
<!--            <pattern>${CONSOLE_LOG_PATTERN_NO_CLR}</pattern>-->
<!--        </layout>-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level ${PID:-} %thread %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--ding alarm appender settings !end-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${spring.application.name}/${spring.application.name}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/${spring.application.name}/${spring.application.name}-%d{yyyy-MM-dd}-%i.log
            </fileNamePattern>
            <MaxHistory>2</MaxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
<!--        <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">-->
<!--            <pattern>${FILE_LOG_PATTERN}</pattern>-->
<!--        </layout>-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %level ${PID:-} %thread %logger{40} - %msg%n</pattern>
        </encoder>
    </appender>

<!--    <appender name="dingAlarm" class="com.xd.irs.thomas.app.config.DingTalkAppenderConfig">-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>ERROR</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">-->
<!--            <pattern>${ALARM_LOG_PATTERN}</pattern>-->
<!--        </layout>-->
<!--        <token>${ding.robot.error-log.token}</token>-->
<!--        <title>irs-thomas-${spring.profiles.active}</title>-->
<!--    </appender>-->

<!--    <appender name="qwWarn" class="com.xd.irs.thomas.app.config.DingTalkAppenderConfig">-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>WARN</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <layout class="org.apache.skywalking.apm.toolkit.log.logback.v1.x.TraceIdPatternLogbackLayout">-->
<!--            <pattern>${ALARM_LOG_PATTERN}</pattern>-->
<!--        </layout>-->
<!--        <token>${ding.robot.warn-log.token}</token>-->
<!--        <title>irs-thomas-${spring.profiles.active}</title>-->
<!--    </appender>-->

    <root level="info">
        <appender-ref ref="console"/>
        <appender-ref ref="file"/>
<!--        <appender-ref ref="dingAlarm"/>-->
<!--        <appender-ref ref="qwWarn"/>-->
    </root>
</configuration>
